includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - app/
    ignoreErrors:
        - '#Call to function in_array\(\) with arguments .* will always evaluate to false.#'
